workflows/3b. Agent Form when property is Vacant.json
{
  "name": "3b. Agent Form when property is Vacant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formsvacant",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        80
      ],
      "id": "33f8b81f-2953-4695-92bf-ef8ca90a41a5",
      "name": "Webhook",
      "webhookId": "2379b091-50a1-4f0b-83de-d345797048b7"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n\nfunction findFields(root) {\n  if (Array.isArray(root)) {\n    for (const el of root) {\n      const got = findFields(el);\n      if (got) return got;\n    }\n    return null;\n  }\n  if (Array.isArray(root?.body?.data?.fields)) return root.body.data.fields;\n  if (Array.isArray(root?.data?.fields)) return root.data.fields;\n  if (Array.isArray(root?.fields)) return root.fields;\n\n  if (Array.isArray(root?.data)) {\n    for (const el of root.data) {\n      const got = findFields(el);\n      if (got) return got;\n    }\n  }\n\n  for (const k of Object.keys(root || {})) {\n    const v = root[k];\n    if (Array.isArray(v)) {\n      for (const el of v) {\n        const got = findFields(el);\n        if (got) return got;\n      }\n    }\n  }\n  return null;\n}\n\nfunction extractSelectedTexts(fields) {\n  // Works for MULTI_SELECT or CHECKBOXES with options[] + value[]\n  const master = fields.find(\n    f => Array.isArray(f?.options) && Array.isArray(f?.value)\n  );\n\n  if (master) {\n    const idToText = new Map(master.options.map(o => [o.id, o.text]));\n    return (master.value || []).map(id => idToText.get(id)).filter(Boolean);\n  }\n\n  // Fallback for per-option boolean CHECKBOX rows (not expected in this payload)\n  const extras = fields\n    .filter(f => f?.type === 'CHECKBOXES' && f?.value === true)\n    .map(f => {\n      const m = /\\((.+)\\)\\s*$/.exec(f.label || '');\n      return m ? m[1] : null;\n    })\n    .filter(Boolean);\n\n  return extras;\n}\n\nreturn items.map(item => {\n  const fields = findFields(item.json ?? {}) || [];\n  const texts = extractSelectedTexts(fields);\n\n  const out = {};\n  texts.forEach((t, i) => { out[`slot_${i + 1}`] = t; });\n\n  return { json: out };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        160
      ],
      "id": "9f48dd3f-3c24-4170-9ac3-6d88d0601eb5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Agent can only select 1 time slot.\n\n{{ JSON.stringify($('Code in JavaScript').item.json) }}",
        "options": {
          "systemMessage": "=You are tasked with creating a Tally form based on the user's requirements. Use the \"Tally MCP\" tool to create a form where users can select a preferred date and time from a list of options. Ensure the form includes:\n\nA title that reflects the purpose of the form (e.g., \"Aloha, please select your available time to show the property. Mahalo\") (Required).\n\nMultiple date options, each with a corresponding label (e.g., \"Monday, January 15th, 2024, 10am\" and so on) (Required).\n\nAdd 1 field Phone number (Required).\n\nOnce created, return the id of the form you created as output only (Required).\n\nWARNING: DO NOT CREATE ANY EXTRA THINGS, DO NOT add country code."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        896,
        16
      ],
      "id": "4070a7c3-6a76-4a53-a884-578a7b0e8941",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "maxRetries": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        176
      ],
      "id": "d13ca8ff-ec4e-4fea-af99-f366b8f7fec1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ffo6HqGpSX8PJ9pt",
          "name": "MindShift OpenAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tally.so/webhooks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer tly-lB7jTJNao8C5x63mC7TSeOy4F1VQEnwr"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"formId\": \"{{ $('AI Agent').item.json.output }}\",\n  \"url\": \"https://automate.mshift.ai/webhook/agent\",\n  \"eventTypes\": [\n    \"FORM_RESPONSE\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        464
      ],
      "id": "2edbf7ca-b202-4378-8fb8-be8c883fe6de",
      "name": "create a webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appGTg9zRscVueZ7q",
          "mode": "list",
          "cachedResultName": "HiRoots",
          "cachedResultUrl": "https://airtable.com/appGTg9zRscVueZ7q"
        },
        "table": {
          "__rl": true,
          "value": "tblIVTULdzLxlOVV7",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appGTg9zRscVueZ7q/tblIVTULdzLxlOVV7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LEAD Form URL": "=https://tally.so/r/{{ $json.body.data.formId }}",
            "LEAD Form Submitted?": "Yes"
          },
          "matchingColumns": [
            "LEAD Form URL"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Income",
              "displayName": "Income",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Score",
              "displayName": "Credit Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Has Pets",
              "displayName": "Has Pets",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Selected Property",
              "displayName": "Selected Property",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Move In Date",
              "displayName": "Move In Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Rejection Reason",
              "displayName": "Rejection Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pets",
                  "value": "Pets"
                },
                {
                  "name": "Credits",
                  "value": "Credits"
                },
                {
                  "name": "Income",
                  "value": "Income"
                },
                {
                  "name": "Availability",
                  "value": "Availability"
                },
                {
                  "name": "Non",
                  "value": "Non"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LEAD Form URL",
              "displayName": "LEAD Form URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LEAD Form Submitted?",
              "displayName": "LEAD Form Submitted?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LEAD Form Data",
              "displayName": "LEAD Form Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LEAD Number of Reminders",
              "displayName": "LEAD Number of Reminders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Form URL",
              "displayName": "Owner/Tenant Form URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Form Submitted?",
              "displayName": "Owner/Tenant Form Submitted?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Form Data",
              "displayName": "Owner/Tenant Form Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Number of Reminders",
              "displayName": "Owner/Tenant Number of Reminders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Form URL",
              "displayName": "Agent Form URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Form Submitted?",
              "displayName": "Agent Form Submitted?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Form Data",
              "displayName": "Agent Form Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Number of Reminders",
              "displayName": "Agent Number of Reminders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Name",
              "displayName": "Owner/Tenant Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Number",
              "displayName": "Owner/Tenant Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Assigned Agent Number",
              "displayName": "Assigned Agent Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Appointment Booked",
              "displayName": "Appointment Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        16
      ],
      "id": "c1e1dc04-4dc4-4fe1-a9dd-a4fdb2f1b6bd",
      "name": "Form submitted -> Yes",
      "credentials": {
        "airtableTokenApi": {
          "id": "BlkmNjoewDVayQOR",
          "name": "Testing"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appGTg9zRscVueZ7q",
          "mode": "list",
          "cachedResultName": "HiRoots",
          "cachedResultUrl": "https://airtable.com/appGTg9zRscVueZ7q"
        },
        "table": {
          "__rl": true,
          "value": "tblIVTULdzLxlOVV7",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appGTg9zRscVueZ7q/tblIVTULdzLxlOVV7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LEAD Form URL": "=https://tally.so/r/{{ $('Webhook').item.json.body.data.formId }}",
            "LEAD Form Data": "={{ JSON.stringify($('Code in JavaScript').item.json) }}"
          },
          "matchingColumns": [
            "LEAD Form URL"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Income",
              "displayName": "Income",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Score",
              "displayName": "Credit Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Has Pets",
              "displayName": "Has Pets",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Selected Property",
              "displayName": "Selected Property",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Move In Date",
              "displayName": "Move In Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Rejection Reason",
              "displayName": "Rejection Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pets",
                  "value": "Pets"
                },
                {
                  "name": "Credits",
                  "value": "Credits"
                },
                {
                  "name": "Income",
                  "value": "Income"
                },
                {
                  "name": "Availability",
                  "value": "Availability"
                },
                {
                  "name": "Non",
                  "value": "Non"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LEAD Form URL",
              "displayName": "LEAD Form URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LEAD Form Submitted?",
              "displayName": "LEAD Form Submitted?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LEAD Form Data",
              "displayName": "LEAD Form Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LEAD Number of Reminders",
              "displayName": "LEAD Number of Reminders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Form URL",
              "displayName": "Owner/Tenant Form URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Form Submitted?",
              "displayName": "Owner/Tenant Form Submitted?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Form Data",
              "displayName": "Owner/Tenant Form Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Number of Reminders",
              "displayName": "Owner/Tenant Number of Reminders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Form URL",
              "displayName": "Agent Form URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Form Submitted?",
              "displayName": "Agent Form Submitted?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Form Data",
              "displayName": "Agent Form Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Number of Reminders",
              "displayName": "Agent Number of Reminders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Name",
              "displayName": "Owner/Tenant Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Number",
              "displayName": "Owner/Tenant Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Assigned Agent Number",
              "displayName": "Assigned Agent Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Appointment Booked",
              "displayName": "Appointment Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        512,
        16
      ],
      "id": "50bfd34a-2407-40d0-b652-97fa8915cecd",
      "name": "Add Form Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "BlkmNjoewDVayQOR",
          "name": "Testing"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appGTg9zRscVueZ7q",
          "mode": "list",
          "cachedResultName": "HiRoots",
          "cachedResultUrl": "https://airtable.com/appGTg9zRscVueZ7q"
        },
        "table": {
          "__rl": true,
          "value": "tblIVTULdzLxlOVV7",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appGTg9zRscVueZ7q/tblIVTULdzLxlOVV7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Agent Number of Reminders": 0,
            "Agent Form Submitted?": "No",
            "Agent Form URL": "=https://tally.so/r/{{ $json.output }}",
            "LEAD Form URL": "=https://tally.so/r/{{ $('Webhook').item.json.body.data.formId }}"
          },
          "matchingColumns": [
            "LEAD Form URL"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Income",
              "displayName": "Income",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Credit Score",
              "displayName": "Credit Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Has Pets",
              "displayName": "Has Pets",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Selected Property",
              "displayName": "Selected Property",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Move In Date",
              "displayName": "Move In Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Rejection Reason",
              "displayName": "Rejection Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pets",
                  "value": "Pets"
                },
                {
                  "name": "Credits",
                  "value": "Credits"
                },
                {
                  "name": "Income",
                  "value": "Income"
                },
                {
                  "name": "Availability",
                  "value": "Availability"
                },
                {
                  "name": "Non",
                  "value": "Non"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LEAD Form URL",
              "displayName": "LEAD Form URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LEAD Form Submitted?",
              "displayName": "LEAD Form Submitted?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LEAD Form Data",
              "displayName": "LEAD Form Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LEAD Number of Reminders",
              "displayName": "LEAD Number of Reminders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Form URL",
              "displayName": "Owner/Tenant Form URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Form Submitted?",
              "displayName": "Owner/Tenant Form Submitted?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Form Data",
              "displayName": "Owner/Tenant Form Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Number of Reminders",
              "displayName": "Owner/Tenant Number of Reminders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Form URL",
              "displayName": "Agent Form URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent Form Submitted?",
              "displayName": "Agent Form Submitted?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent Form Data",
              "displayName": "Agent Form Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Agent Number of Reminders",
              "displayName": "Agent Number of Reminders",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Owner/Tenant Name",
              "displayName": "Owner/Tenant Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Owner/Tenant Number",
              "displayName": "Owner/Tenant Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Assigned Agent Number",
              "displayName": "Assigned Agent Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Appointment Booked",
              "displayName": "Appointment Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -272,
        464
      ],
      "id": "f496cd37-58f3-41e6-9d8a-c0d5f7113d0e",
      "name": "Create Agent record",
      "credentials": {
        "airtableTokenApi": {
          "id": "BlkmNjoewDVayQOR",
          "name": "Testing"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18rDR1m1bZkntndwegrcKgBZCB8RhQnOLBHxTdTDXfS4",
          "mode": "list",
          "cachedResultName": "AVAILABLE RENTALS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18rDR1m1bZkntndwegrcKgBZCB8RhQnOLBHxTdTDXfS4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1418192204,
          "mode": "list",
          "cachedResultName": "Current Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18rDR1m1bZkntndwegrcKgBZCB8RhQnOLBHxTdTDXfS4/edit#gid=1418192204"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Property Address",
              "lookupValue": "={{ $('Create Agent record').item.json.fields['Selected Property'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        464
      ],
      "id": "ed02a8e6-a727-427b-94be-fe80311926d4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KohAZaXjXOFH8DGH",
          "name": "Google Sheets Sean"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16001601-667a-405c-a045-5811974375d4",
              "name": "Showing Agents",
              "value": "={{ $json['Showing Agents'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        464
      ],
      "id": "912e3580-68e4-45ed-9183-15c429b88789",
      "name": "Get Agents Contact"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-c2fc64d0-97c6-4fce-b45b-64dbda835e08"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "SMS"
            },
            {
              "name": "message",
              "value": "=Aloha, please select the time slot that you are available for showing. Mahalo.\n{{ $('Create Agent record').item.json.fields['Agent Form URL'] }}"
            },
            {
              "name": "contactId",
              "value": "={{ $json.contact_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        464
      ],
      "id": "13f62289-66a1-46f0-83a3-8b6fca5b196a",
      "name": "Send Tally Link to Agents by SMS"
    },
    {
      "parameters": {
        "content": "## 1: Tagging\n### Form is Submitted and Human Readable from Data is also stored in Airtable",
        "height": 352,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -64
      ],
      "id": "21ecef89-3428-4d1b-93e4-b6fb1f47a342",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 2: AI Agent\n### Generate Tally Form for Agents\n",
        "height": 352,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -64
      ],
      "id": "1c84f986-394e-4d93-a82e-70c162cdc27c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 3: URL and Webhook\n### Store Tally Form URL and also create a Webhook",
        "height": 480,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        304
      ],
      "id": "c080b8c9-28a4-4b5d-8864-eb35d60597a2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 0: Trigger\n### This Webhook will trigger when the Owner/Tenant Submit Tally Form",
        "height": 352,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -64
      ],
      "id": "3972d7ef-4bf9-4f6c-a454-5424e5d23285",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 4: Sending SMS to Showing Agents\n### 1. Get the Exact record for the Selected Property\n### 2. Get all Showing Agents Contacts\n### 3. process to extract First Name and Number",
        "height": 480,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        304
      ],
      "id": "19abad74-d717-424a-af18-106578b90fcd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 3: Form Generation for Agents",
        "height": 912,
        "width": 1536,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -112
      ],
      "id": "551860a9-1e6f-4cf3-89c7-f67c91a4a2d1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "endpointUrl": "https://api.tally.so/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "set_form_title",
          "update_checkbox",
          "save_form",
          "create_new_form",
          "add_text",
          "add_choice_question",
          "add_input_question"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        1088,
        176
      ],
      "id": "253c1ce3-e06c-4391-b977-0d18dba02cd5",
      "name": "Tally MCP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WYeUrBCBcBPv8cKG",
          "name": "Tally"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Showing Agents: {{ $json['Showing Agents'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant in Extracting and returning the name and phone number of every showing Agents given as input in structured format.\nImportant: The phone numbers format will be this \"808-218-9054\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        368,
        464
      ],
      "id": "abfce27e-a85b-4223-91ed-037c1d6e7138",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        640
      ],
      "id": "10596c35-8ac9-4f9b-bc7f-8ea5c8636baa",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Ffo6HqGpSX8PJ9pt",
          "name": "MindShift OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n\t\"firstname\": \"Jhone\",\n    \"phone\": \"808-218-9054\"\n},\n  {\n\t\"firstname\": \"Jalal\",\n    \"phone\": \"808-218-1234\"\n}\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        544,
        640
      ],
      "id": "b126c224-239e-4180-91a0-07b018d83fb7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// For each incoming item, take item.json.output (an array)\n// and return one item per entry: { json: { firstname, phone } }\n\nconst results = [];\n\nfor (const item of items) {\n  const arr = item.json?.output ?? [];\n  if (!Array.isArray(arr)) continue;\n\n  for (const entry of arr) {\n    results.push({ json: entry });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        464
      ],
      "id": "1a185e7d-efac-44f3-bda5-24fb6d6efff3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.tally.so/forms/{{ $('Webhook').item.json.body.data.formId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer tly-lB7jTJNao8C5x63mC7TSeOy4F1VQEnwr"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        16
      ],
      "id": "1c56d840-6d2c-45fc-85f1-bf6f72913d8f",
      "name": "Delete form"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appGTg9zRscVueZ7q",
          "mode": "list",
          "cachedResultName": "HiRoots",
          "cachedResultUrl": "https://airtable.com/appGTg9zRscVueZ7q"
        },
        "table": {
          "__rl": true,
          "value": "tbl73NABHF7cpldYB",
          "mode": "list",
          "cachedResultName": "Agents SMS",
          "cachedResultUrl": "https://airtable.com/appGTg9zRscVueZ7q/tbl73NABHF7cpldYB"
        },
        "filterByFormula": "={phone} = '{{ $json.phone }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        816,
        464
      ],
      "id": "9a78e90b-fa95-4f68-88da-6f6489327053",
      "name": "Search records Agents SMS",
      "credentials": {
        "airtableTokenApi": {
          "id": "BlkmNjoewDVayQOR",
          "name": "Testing"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Form submitted -> Yes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Add Form Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Agent record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent record": {
      "main": [
        [
          {
            "node": "create a webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create a webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get Agents Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agents Contact": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Tally Link to Agents by SMS": {
      "main": [
        []
      ]
    },
    "Tally MCP": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Search records Agents SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form submitted -> Yes": {
      "main": [
        [
          {
            "node": "Delete form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records Agents SMS": {
      "main": [
        [
          {
            "node": "Send Tally Link to Agents by SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "E1zHTy7QMqf0B1Yp"
  },
  "versionId": "5197a6c8-1c6a-4797-a726-e3217be15759",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "622d1fdf01a106fef61ea6f07fcf94e60b6be7053c44d93e616af34484dd7f8f"
  },
  "id": "Pa8N6juk5tMeMqol",
  "tags": []
}